*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section.bg{
    width: 100vw;
    height: 100vh;
    background-image: url('../banners/image/tlou2.jpg');
    background-size: cover;
    background-position: center;
}
a.cta{
    width: 95%;
    max-width: 600px;
    padding: 10px 20px;
    border-radius: 10px;
    border-bottom: 5px solid #c64767;
    text-align: center;
    background: #e7426b;
    color:white;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}