*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
.container{max-width: 1100px;margin: 0 auto;padding: 0 2%;display: flex;flex-wrap: wrap;}

footer.one{
    padding: 20px 0;
    width: 100%;
    background: #90caf9;
}
.footer-single{
    width: 33.3%;
    padding: 0 15px;
    color: white;
}
.footer-single h2{
    font-weight: normal;
    font-size: 20px;
}
.footer-single p{
    font-size: 15px;
    font-weight: 300;
}
.social-media{margin-top: 10px;}
.footer-single a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
footer.two{
    background: #64b5f6;
    padding: 8px 0;
    text-align: center;
    color: white;
}
section{
    position: absolute;
    bottom:0;
    width: 100%;
}
@media screen and(max-width:768px){
    .footer-single{
        width: 100%;
        margin-bottom: 20px;
    }
}